{% extends 'patients/base.html' %}
{% load staticfiles %}

{% block title %}Paraganglioma database{% endblock %}

{% block stylesheet %}{% static "styles.css" %}{% endblock %}

{% block header %}Parag{% endblock %}

{% block welcome_message %}Benvenuto, {{ user.username }} {% endblock %}

{# check if user is VIP --> to be sent to admin, else to centersadmin #}
{% block admin_url %}

    {%  if user.username == 'marcello' or user.username == 'uberta' or user.username == 'francesca' %}
        /admin/
    {% else %}
        /centersadmin/
    {% endif %}

{% endblock %}

{% block statistics_url %}/statistics/{% endblock %}
{% block help_url %}/help/{% endblock %}
{% block contact_url %}/contacts{% endblock %}

{% block logout_url %}
/logout

{#    {%  if user.username == 'marcello' or user.username == 'uberta' or user.username == 'francesca' %}#}
{#        /admin/logout#}
{#    {% else %}#}
{#        /centersadmin/logout#}
{#    {% endif %} #}

{% endblock %}

{% block content %}{% endblock %}

{% block footer %}

	&copy; 2016 Webmaster <a href="mailto:marcello.filopanti@gmail.com">Marcello Filopanti</a>

{% endblock %}
