{% extends 'patients/base_site.html' %}

{% block content %}

    <article>

			<h2>Contatti</h2>

			<div class="article-info">Postato il <time datetime="2016-03-14">14 marzo</time> da
                <a href="mailto:marcello.filopanti@gmail.com" rel="author">Marcello Filopanti</a>
            </div>

            <p>
                Questa è la sezione contatti, dove potete trovare i contatti della gestione e dell'
                amministrazione del database.<br><br>

                dott.sa Uberta Verga, tel. email: <br>
                <small>Responsabile clinica</small><br><br>
                dott.sa Francesca Schiavi, tel. email: <br>
                <small>Responsabile genetica</small><br><br>
                dott. Marcello Filopanti, tel. email:
                <a href="mailto:marcello.filopanti@gmail.com">marcello.filopanti@gmail.com</a><br>
                <small>Gestione informatica</small><br><br>
                {% lorem %}
            </p>


		<a href="#" class="button">Read more</a>
		<a href="#" class="button button-reversed">Comments</a>



		</article>

{% endblock %}