{% extends 'patients/base_site.html' %}

{% block content %}

    <article>

			<h2>Aiuto</h2>

			<div class="article-info">Postato il <time datetime="2016-03-14">14 marzo</time> da
                <a href="mailto:marcello.filopanti@gmail.com" rel="author">Marcello Filopanti</a>
            </div>

            <p>
                Questa è la sezione aiuto, dove si possono trovare istruzioni e documentazione
                del database.<br>
                {% lorem %}
            </p>


		<a href="#" class="button">Read more</a>
		<a href="#" class="button button-reversed">Comments</a>



		</article>

{% endblock %}