{% extends 'patients/base_site.html' %}

{% block content %}

    <article>

			<h2>Paraganglioma database</h2>

			<div class="article-info">Postato il <time datetime="2016-03-11">11 marzo</time> da
                <a href="mailto:marcello.filopanti@gmail.com" rel="author">Marcello Filopanti</a>
            </div>

            <p>
                Benvenuti sul nuovo sito del database paragangliomi. Le funzionalità sono rimaste identiche al
                precedente sito, sono state apportate solo alcune modifiche grafiche. I dati inseriti sono stati
                importati nel database presente.<br>
                Potete accedere al form di inserimento dati dal link riportato nella barra di navigazione a sinistra:
                'Inserisci'.<br>
                Sono disponibili alcune semplici statistiche sui pazienti inseriti.<br>
                La sezione 'Aiuto' è ancora in fase di completamento. Potete comunque contattare qualcuno per un aiuto
                telefono o email nella sezione 'Contatti'.


            </p>


		<a href="#" class="button">Read more</a>
		<a href="#" class="button button-reversed">Comments</a>



		</article>

{% endblock %}

