{% extends 'patients/base_site.html' %}

{% block charts %}
    {# load AJAX API #}
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

    <script type="text/javascript">
        // Load the Visualization API and the corechart package.
        google.charts.load('current', {'packages':['corechart']});

        // Set a callback to run when the Google Visualization API is loaded.
        google.charts.setOnLoadCallback(drawChart);

        // Callback that creates and populates a data table,
        // instantiates the pie chart, passes in the data and
        // draws it.
        function drawChart() {

        // Create the data table.
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Topping');
        data.addColumn('number', 'Slices');
        data.addRows([
          ['Maschi', {{ n_mal }}],
          ['Femmine', {{ n_fem }}]
        ]);

        // Set chart options
        var options = {'title':'Sesso',
                       'width':400,
                       'height':300};

        // Instantiate and draw our chart, passing in some options.
        var chart = new google.visualization.PieChart(document.getElementById('chart_div'));
        chart.draw(data, options);
        }
    </script>

{% endblock %}

{% block content %}

    <article>

			<h2>Statistiche</h2>

			<div class="article-info">Postato il <time datetime="2016-03-14">14 marzo</time> da
                <a href="mailto:marcello.filopanti@gmail.com" rel="author">Marcello Filopanti</a>
            </div>

            <p>
                Questa è la sezione statistica, dove si possono trovare alcuni semplici statistiche riepilogative
                del database.<br><br>
                {% lorem %}

            </p>

            <div id="chart_div"></div>


		<a href="#" class="button">Read more</a>
		<a href="#" class="button button-reversed">Comments</a>



		</article>

{% endblock %}